/*Siembre va al crear styles*/

html {
    
    font-size:62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*,*:before,*::after{
    box-sizing: inherit;
}


/*Global*/

/*1-Paleta de Colores*/
:root {
--white: #ffffff;
--black:  #212121;
--primary:#ffc107;  
--secondary:#0097A7;
--gris: #7d7f7d;
}

/*2-contenedor*/
.contenedor{
    max-width: 100rem;
    margin: 0 auto;
}

/*3-codigo para boton*/
.boton {
    background-color: var(--secondary);
    text-decoration: none; /*quitar subrayado abajo de palabra*/
    color: var(--white); /*   */
    padding: 1rem 3rem; /* distancia en los bordes de la palabra al borde */
    margin-top: 1rem; /* distancia superior de un item a otro*/
    font-size: 2rem; /* tamaño de la letra  */
    text-transform: uppercase; /* poner en mayuscula  */
    font-weight: bold; /* ancho de la letra "bold" es en negrita*/
    border-radius: 1rem; /* borde circular del boton  */
    text-align: center; /* alinear texto al centro  */
    width: 90%; /* ancho "en porcentaje con respecto al marcho"*/
 
}
@media (min-width: 480px){
    
   .boton {
    width: auto ;
   }

}

/*3-Definiendo tamaño de letras*/

body{
    font-size: 16px; 
    font-family: 'Krub', sans-serif;
}  


h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem
}

h3 {
    font-size: 1.8rem
}

h1,h2,h3 {
    text-align: center;
}


 /*4 alinear items horizontal y verticalmente*/

 .alinear{
    display: flex;  /* todo el codigo es para alinear horizontal y verticalmente  */
    flex-direction: row;
    align-items: center;   

    flex-direction: column;
    justify-content: center;
}

/*5-Sombra degradada a toda la pagina*/

.sombra{
    -webkit-box-shadow: 0px 2px 5px 7px rgba(138,134,138,0.4);
    -moz-box-shadow: 0px 2px 5px 7px rgba(138,134,138,0.4);
    box-shadow: 0px 2px 5px 7px rgba(138,134,138,0.4);
    background-color: var(--white);
    border-radius: 1rem;
}

/* 6-Degradado color de la pagina*/

body{
    background-image: linear-gradient(to top,
    var(--gris) 0%,
    var(--white) 100%);
}

/* Primera Parte */
.titulo{
    text-align: center;
    font-size: 3.8rem;
    color: var(--black);
    font-weight: 480px;
}

.titulo span {

    font-size: 2rem;
}


/* Segunda Parte -Navegación Principal*/

/* 1- Se elabora contenedor en Globales 2*/

.nav_background{
    background-color: var(--secondary);
}

.navegacion-principal{
  display: flex;
  flex-direction: column;
}

@media (min-width: 480px){
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-around;
    }
}


.navegacion-principal a{
    
    text-decoration: none;
    font-size:2rem;
    font-weight: bold;
    color: var(--white);
    text-align: center;
    padding: 1rem;
}

.navegacion-principal a:hover{
    background-color: var(--primary);
    color: var(--black);
}







/* Tercera Parte -Foto y contenido hero*/

.hero{
    background-image: url(../img/hero.jpg);
    margin-top: 1rem;
    background-size: cover;
    height: 300px;
}

.contenido-hero {
    color: var(--white);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.53)
}

.contenido-hero a:hover{

color: var(--black);

}








/* CUARTA PARTE */

.contenedor_2{
    max-width: 100rem;
    margin: 0 auto;
    padding: 2rem 2rem;
}

.servicios{
    padding: 0% 2%;
    column-gap: 2rem;
        
}

@media (min-width: 768px){
       .servicios{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
       }
}

.servicio{
display: flex;
flex-direction: column;
align-items: center ;

}

.servicio h3{
font-weight: normal;
color: var(--secondary);
}

.servicio h4{
   line-height: 2;
   text-align: justify;
}

.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}





/*Quinta Parte Formulario*/

.formulario {
    
    background-color: var(--gris);
    width: min(60rem, 100%);
    height: max-content;
    margin:0 auto;
    border-radius: 2rem;
    padding: 2rem;
}



.formulario fieldset {
    border: none;
    
}


.formulario legend{ 

    color: var(--primary);
    text-align: center;
    padding-bottom: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.campo{
  
margin-bottom: 1rem;
}

.campo label{
color: var(--white);
display: block;
font-weight: 700px;
margin-bottom: 0.5rem;
}

.input-text{
width: 100%;
border: none;
padding: 1.5rem;
border-radius: .5rem;
}

.boton_enviar{
   border: none;
    
}
.boton_enviar:hover{
    color: var(--black);
    cursor: pointer;
 }
 
 .enviar{
    display: flex;
   justify-content: flex-end;
   margin-top: 30px;
 }

 .campo textarea{

    height: 20rem;

 }

 
@media (min-width: 480px){
    .contenedor-campos{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
     }
       
}
 
.campo:nth-child(3),
.campo:nth-child(4){
    grid-column: 1 / 3;
}

.footer{
    text-align: center;
}




/*Scroll de la pagina*/

/*.navegacion-principal,
.servicios,
.formulario{
    scroll-snap-align:center;
    scroll-snap-stop: always;
} */